<!doctype html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Auth Simples</title>
        <link rel="stylesheet" type="text/css" href="./static/src.css">
    </head>

    <body>
        <div class="login box">
            
            <div class="reg">
                <div id="logo">SIGN UP</div>
                <div class="err er1"> </div>
                <input id='email' placeholder='email'>
                <input id='username' placeholder='Nome'>
                <input id='password' placeholder="Senha" type="password">
                <button id='enviar'>Registar</button>
                <button id="lg">Or try to login</button>
            </div>
            <div class="log" style="display:none">
                <div id="logo">SIGN IN</div>
                <div class="err er2"> </div>
                <input id='email2' placeholder='Email'>
                <input id='password2' placeholder="Senha" type="password">
                <button id='enviar2'>Login</button>
                <button id="rg">Or try to register!</button>
            </div>
            <div class="welcome" style="display:none">
                <div id="name">BEM VINDO ATA</div>
            </div>
        </div>
        <script src="./static/jquery.js"></script>
        <script src="./static/scr.js"></script>
    </body>

</html>